<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="edit-art content">
        <h2>Edit Art Piece</h2>
        <form action="/arts/<%=art.id%>?_method=PUT" method="POST">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="sketch-painting" <%= art.category === 'sketch-painting' ? 'selected' : '' %>>Sketch & Painting</option>
                <option value="digital" <%= art.category === 'digital' ? 'selected' : '' %>>Digital Art</option>
                <option value="photography" <%= art.category === 'photography' ? 'selected' : '' %>>Photography</option>
                <option value="sculpture" <%= art.category === 'sculpture' ? 'selected' : '' %>>Sculpture</option>
            </select>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= art.title %>" required />
            <label for="des">Description:</label>

            <label for="medium">Medium:</label>
            <input type="text" name="medium" id="medium" value="<%= art.medium %>" />

            <label for="dimension">Dimension:</label>
            <input type="text" name="dimension" id="dimension" value="<%= art.dimension %>" />

            <input type="text" name="description" id="des" value="<%= art.description %>" required />
            <label>Images:</label>
            <div class="image-preview">
                <% art.images.forEach(image => { %>
                    <img src="/<%= image %>" alt="Artwork Image" class="preview-image">
                <% }); %>
            </div>
            <div class="featured-options">
                <label>Featured Art:</label>
                <div>
                    <input type="radio" id="featured-yes" name="featured" value="yes" <%= art.featured === true ? 'checked' : '' %> />
                    <label for="featured-yes">Yes</label>
                </div>
                <div>
                    <input type="radio" id="featured-no" name="featured" value="no" <%= art.featured === false ? 'checked' : '' %> />
                    <label for="featured-no">No</label>
                </div>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>

    <script>
        // Additional JavaScript code if needed
    </script>
</body>
</html>