<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="art-list content">
      <% if (success) { %>
        <div class="alert alert-success"><%= success %></div>
      <% } %>
      <h2>List of Art</h2>

      <!-- Search feature -->
      <% if (searchQuery) { %>
      <p class="search-result">
        Result for "<%= searchQuery %>"
        <a href="/" class="see-all">See all arts</a>
      </p>
      <% } %>

      <form method="GET" action="/admin/arts" class="search-bar" id="filterForm">
        <input
          type="text"
          name="search"
          placeholder="Search by title"
          value="<%= searchQuery %>"
        />
        <button type="submit">Search</button>
        <!-- Category filter -->
        <select name="category" id="categoryFilter" class="category-select">
            <option value="" <% if (!searchQuery && !category) { %> selected <% } %>>All Categories</option>
            <option value="sketch-painting" <% if (category === 'sketch-painting') { %> selected <% } %>>Sketch Painting</option>
            <option value="digital" <% if (category === 'digital') { %> selected <% } %>>Digital</option>
            <option value="photography" <% if (category === 'photography') { %> selected <% } %>>Photography</option>
            <option value="sculpture" <% if (category === 'sculpture') { %> selected <% } %>>Sculpture</option>
        </select>

        <input type="checkbox" id="featuredFilter"  class="checkbox-container" name="featured" <% if (featured) { %> checked <% } %>>
        <label class="checkbox-label" for="featuredFilter">Featured Arts</label>
      </form>



      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Medium</th>
            <th>Dimension</th>
            <th style="width:50%;">Description</th>
            <th>Featured</th>
            <th>Images</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% let counter = ((currentPage - 1) * 5) + 1; %>
          <% arts.forEach(art => { %>
          <tr>
            <td><%= counter++ %></td>
            <td><%= art.title %></td>
            <td><%= art.category %></td>
            <td><%= art.medium %></td>
            <td><%= art.dimension %></td>
            <td style="width:50%;"><%= art.description %></td>
            <td><%= art.featured ? "Yes" : "No" %></td>
            <td>
              <%art.images?.map(img=> {%>
              <img src="D:/WebServer/main/daria-portfolio-site/Content/uploads/<%=img%>" alt="art image" />
              <% })%>
            </td>
            <td>
              <a href="/admin/arts/<%= art.id %>"
                ><button class="edit">Edit</button></a
              >
              <form
                id="delete-art-form"
                action="/admin/arts/<%= art.id %>?_method=DELETE"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="delete">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="pagination">
        <% if (currentPage > 1) { %>
          <a href="/admin/arts?page=<%= currentPage - 1 %>&search=<%= searchQuery %>&category=<%= category %>&featured=<%= featured %>">&laquo; Previous</a>
        <% } else { %>
          <a class="disabled">&laquo; Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/admin/arts?page=<%= i %>&search=<%= searchQuery %>&category=<%= category %>&featured=<%= featured %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <a href="/admin/arts?page=<%= currentPage + 1 %>&search=<%= searchQuery %>&category=<%= category %>&featured=<%= featured %>">Next &raquo;</a>
        <% } else { %>
          <a class="disabled">Next &raquo;</a>
        <% } %>
      </div>
    </div>

    <script>
        const categoryFilter = document.getElementById('categoryFilter');
        const featuredFilter = document.getElementById('featuredFilter');
    
        categoryFilter.addEventListener('change', function() {
            const form = document.getElementById('filterForm');
            form.submit();
        });
        featuredFilter.addEventListener('change', function() {
        const form = document.getElementById('filterForm');
        form.submit();
    });

    document.getElementById('delete-art-form').addEventListener('submit', function (event) {
    event.preventDefault(); 
    const form = event.target;
    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: new URLSearchParams(new FormData(form)).toString(),
    })
    .then(response => response.json())
    .then(data => {
      if (data.redirect) {
        window.location.href = data.redirect;
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
    </script>
  </body>
</html>
